form{
    align-content: center;
    transform: scale(1.2);
    position: relative;
    left: 200px;

}
input[type=button]{
    position: relative;
    left: 200px;
    width:100px;
    height:40px;
    padding-left: 2px;
}
.w3-text-teal{
    top: 20px;

}